/* Style global */
body {
    margin: 0;
    padding: 0;
    background-color: black; /* Fond noir */
    font-family: 'Courier New', monospace;
    color: #33ff33; /* Texte vert par défaut */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Conteneur de l'écran */
.screen-container {
    border: 4px solid #33ff33;
    padding: 20px;
    width: 600px;
    height: 400px;
    background-color: black; /* Fond noir de l'écran */
    position: relative;
}

/* Texte affiché au départ */
#text-display {
    font-size: 2rem;
    text-align: center;
    color: #33ff33; /* Texte vert pour le style Minitel */
}

/* Curseur clignotant */
#cursor {
    font-size: 2rem;
    animation: blink 1s infinite;
    color: #33ff33; /* Vert pour le curseur */
}

/* Animation de clignotement */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Section de l'énigme */
#enigme-section {
    margin-top: 20px;
}

.enigme-text, .enigme {
    font-size: 1.5rem;
    color: white; /* Texte de l'énigme en blanc */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #33ff33;
    background-color: black;
    color: #33ff33; /* Vert pour l'entrée utilisateur */
    font-size: 1rem;
    font-family: 'Courier New', monospace;
}

button {
    background-color: #33ff33;
   
